name: Build

on:
  push:
    branches: [ "master" ]

jobs:
  job:
    name: ${{ matrix.os }}-${{ github.workflow }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        
    steps:
    - name: Checkout Code
      uses: actions/checkout@v4
      with:
        submodules: true
        fetch-depth: 0

    - name: Setup CMake and Ninja
      uses: lukka/get-cmake@latest

    # RELATED ISSUE: https://github.com/microsoft/vcpkg/issues/46759
    - name: Install Linux Dependencies
      if: runner.os == 'Linux'
      run: sudo apt-get install -y libltdl-dev
      shell: bash

    - name: Setup vcpkg
      uses: lukka/run-vcpkg@v11
      with:
        runVcpkgInstall: true

    - name: Configure
      run: cmake --preset default

    - name: Build
      run: cmake --build --preset default
