name: Build

on:
  push:
    branches: [ "master" ]

jobs:
  job:
    name: ${{ matrix.os }}-${{ github.workflow }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        
    steps:
    - name: CHECKOUT CODE
      uses: actions/checkout@v4
      with:
        submodules: true
        fetch-depth: 1

    - name: SETUP CMAKE AND NINJA
      uses: lukka/get-cmake@v4.2.1

    # RELATED ISSUE: https://github.com/microsoft/vcpkg/issues/46759
    - name: Install Linux Dependencies
      if: runner.os == 'Linux'
      run: sudo apt-get update && sudo apt-get install -y libltdl-dev

    - name: CACHE VCPKG
      uses: actions/cache@v4
      with:
        path: |
          vcpkg_installed
          ~/.cache/vcpkg
        key: vcpkg-${{ runner.os }}-${{ hashFiles('vcpkg.json') }}
        restore-keys: |
          vcpkg-${{ runner.os }}-

    - name: SETUP VCPKG
      uses: lukka/run-vcpkg@v11
      with:
        runVcpkgInstall: true

    - name: CONFIGURE
      run: cmake --preset default

    - name: BUILD
      run: cmake --build --preset release --parallel

    - name: RUN TESTS
      if: runner.os == 'Linux'
      run: ctest --preset default --build-config release
